<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome =1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYU Carbon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"></script>
</head>
<style type="text/css">
    .help-block {
        font-size: 9pt;
    }
    .header {
            position: sticky;
            top:0;
        }
    h3 {
        padding: 10px;
    }
    .table-responsive {
        max-height: 500px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="co2e" href="/search-co2e">CO2e</a>
        </div>
      </div>      
    </nav>
    <div class="content container-lg">
    <div class="mx-auto" style="width: 800px;">
        <!-- <h1>Transaction code</h1>-->
    </br>
        <p class="fs-1 fw-bolder">NFT Transaction CO2e</p>
        <label class="fs-5 fw-bolder">Contract Address</label><br>
        <input type="text" id="contract" value="" style="width:400px; height:40px"><br><br>
        <label class="fs-5 fw-bolder">Token ID</label><br>
        <input type="text" id="token" value="" style="width:400px; height:40px"><br><br>
        <p class="fs-5 fw-bolder"> <span id="resultText"></span></p>
            <button type="button" id="btn_search" class="btn btn-outline-success">Search</button>
            <button type="button" id="btn_send" class="btn btn-outline-primary" style="display: none">Offset</button><br><br>
			<button type="button" id="btn_up" class="btn btn-outline-primary" style="display: none">transfer</button><br><br>
        <p class="fs-5 fw-bolder"> <span id="BCT"></span></p>
    </div>
    <br>
   

</body>
</html>
<script type="text/javascript">

function postData(url, data) {
    // Default options are marked with *
    return fetch(url, {
        body: JSON.stringify(data), // must match 'Content-Type' header
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        credentials: 'same-origin', // include, same-origin, *omit
        headers: {
            'user-agent': 'Example',
            'content-type': 'application/json'
        },
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, cors, *same-origin
        redirect: 'follow', // manual, *follow, error
        referrer: 'no-referrer', // *client, no-referrer
    })
        .then(response => response.json()) // output json
}

var result=""
var contract =""
var token= ""
var co2e ="";
var bctRec ="";
var amount ="";
var acc;
function submit(){

    contract = document.getElementById('contract').value;
    token = document.getElementById('token').value;

    const data = {contract, token}

    postData('https://nyu-carbon.herokuapp.com/co2e', data)
    .then(data => {
        result=data.result
        document.getElementById('resultText').innerHTML=result;
		$("#btn_send").show();
    })
    .catch(error => console.error(error))

}


$(document).ready(function BCTBalance(){
    
    //myContract.methods.getOffset(contract, parseInt(token)).call().then(function(text)
    //{
     //   bctRec = parseInt(text)
    //    $("#BCT").html("Cumulative offset: "+ text)
   // })
})

web3 = new Web3(web3.currentProvider);
	var address_NYUCarbon = "0x29c2C719C19cdBB86aE5d86B367FC128b2E0B7dB";
	var abi_NYUCarbon= [
	{
		"inputs": [],
		"name": "burnToken",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "contract_address",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "token_id",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "amt",
				"type": "uint256"
			}
		],
		"name": "offsetNFT",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "sender",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "OffsetNFT",
		"type": "event"
	},
	{
		"inputs": [],
		"name": "getBCTBalance",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "contract_address",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "token_id",
				"type": "uint256"
			}
		],
		"name": "getOffset",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]
	myContract = new web3.eth.Contract(abi_NYUCarbon, address_NYUCarbon);
    var address_BCT = "0xCb38eC62A43EB019F8d79b0C1C070ccdD16D1650";
    var abi_BCT =[
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "initialSupply",
				"type": "uint256"
			}
		],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "owner",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "spender",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "value",
				"type": "uint256"
			}
		],
		"name": "Approval",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "from",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "to",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "uint256",
				"name": "value",
				"type": "uint256"
			}
		],
		"name": "Transfer",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "owner",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "spender",
				"type": "address"
			}
		],
		"name": "allowance",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "spender",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "approve",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "account",
				"type": "address"
			}
		],
		"name": "balanceOf",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "burn",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "account",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "burnFrom",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "decimals",
		"outputs": [
			{
				"internalType": "uint8",
				"name": "",
				"type": "uint8"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "spender",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "subtractedValue",
				"type": "uint256"
			}
		],
		"name": "decreaseAllowance",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "spender",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "addedValue",
				"type": "uint256"
			}
		],
		"name": "increaseAllowance",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "name",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "symbol",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "totalSupply",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "to",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "transfer",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "from",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "to",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "amount",
				"type": "uint256"
			}
		],
		"name": "transferFrom",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	}
]
    BCTContract = new web3.eth.Contract(abi_BCT, address_BCT);

function offsetCO2()
{
    co2e = result[8] + result[9] + result[11]+ result[12]+ result[13];
    while(co2e.length < 17)
        co2e += "0"

    amount = co2e
    
    web3.eth.getAccounts().then(function(accounts)
    {
        acc = accounts[0];
        BCTContract.methods.approve(address_NYUCarbon, amount).send({from: acc}, function(){$("#btn_send").hide();})
        .once('transactionHash', (hash) => { console.log(hash); })
        .once('receipt', (receipt) => { console.log(receipt);
        	$("#btn_up").show();
            })
        /*BCTContract.methods.transfer(address_NYUCarbon, amount).send({from: acc}, function (err, res) {});
        BCTContract.methods.balanceOf(acc).call(function (err, res) {
        if (err){
            console.log("An error occured", err)
             return
            }
            console.log("The balance is: ", res)
        })*/
        //return myContract.methods.offsetNft(contract, parseInt(token), amt).send({from: acc, value: web3.utils.toWei(amount, "ether")});
    }).then(function(tx)
    {
        
        console.log(tx);
    }).catch(function(tx)
    {
        console.log(tx);
    })
}

function transfer()
{
	myContract.methods.offsetNFT(contract, token, amount).send({from: acc})
}


$("#btn_search").click(function () {
            submit();
			window.ethereum.request({ method: 'eth_requestAccounts' });
        }); 

$("#btn_send").click(function () { 
	offsetCO2();
        }); 

$("#btn_up").click(function () { 
	transfer();
        }); 
       
</script>

